/* /* color: #ED7D31;
    color: #8d8d8d;
    color: #4d4d4e;
    background: #181818; */

/* body {
    background-color: grey;   
} */


*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: 0;
}

.background .shape {
	position: relative;
    height: 140px;
    width: 280px; 
	background: #23a2f6
}

.background .shape:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color:#7d7d7d;
	border-bottom: 0;
	border-left: 0;
	margin-left: -70px;
	margin-bottom: -50px;
}

/* .background .shape{ */
    /* height: 100px; */
    /* width: 200px; */
    /* position: absolute; */
    /* transform: skew(20deg); */
    /* background: red; */
    /* border-radius: 50%;    */
/* } */
.shape:first-child{
    background: linear-gradient(
        /* #1845ad,
        #23a2f6 */
        /* #ff9e3d,
        #f7ae65 */
        /* #44b1cf,
        #6dc8cf */
        #696969,
        #7d7d7d
    );
    left: 72.5px;
    top: -35px;
}
/* .shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
        
        
    );
    right: -30px;
    bottom: -80px;
} */

form{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 1;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 10%;
}
form h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff9e3d;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    /* display: block; */
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.join-btn{
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.create-btn{
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.message-box {
    height: 600px;
    width: 1200px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 1;
}

.message-box .msg-inputs{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 95%;
 }         
 .message-box .msg-inputs .msg-input[type=text] {
   width: 50%;
   overflow: hidden;
   background-color: #181818;
   color: #fff;
   border: 2px solid black; /*or make 'none'*/
   margin-right: 20px;
   margin-bottom: 20px;
   /* margin-left: -10px; */
 }
 .send-btn{
    width: 10%;
    height: 10%;
    background-color: #181818;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fd9346;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fd9346;
    border-radius: 5px;
    cursor: pointer;
    /* right:0.5; */
}
/*  
 .message-box .msg-inputs .send-btn{
     background-color: #181818; 
     color: #ff9e3d;
     border: 2px solid #ff9e3d;
     margin-left: 2px;
     width: 10%; */
     /* height: 10%; */
     /* overflow: hidden; */
     /* padding: 15px; */
     /* justify-content: center; */
     /* left:0; */

 /* } */
   
 .send-btn:hover {
   background-color: #ff9e3d;
   color: white;
   cursor: pointer;
}


/*

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}   

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ED7D31; 
}

.name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    list-style: none;
}

/* .form {
    background-color: #181818;
} */

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 80%; */
    color: #ff9e3d;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Tahoma";
    background-color: black; 
    /* color: black;  */
}

.join-btn {
    /* background-color: #ED7D31; */
    background-color: #181818;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    /* width: 100%; */
    font-family: 'Segoe UI';
    width: 50%;
}
.join-btn {
    background-color: #181818; 
    color: #ff9e3d;
    border: 2px solid #ff9e3d;
    margin-left: 25%;
    margin-top: 5%;
    
    /* text-decoration-color: #ED7D31; */
  }
  
  .join-btn:hover {
    background-color: #ff9e3d;
    color: white;
  }

.create {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 80%; */
    color: #ff9e3d;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Tahoma";
    background-color: black; 
    /* color: black;  */
}

.create-btn {
    /* background-color: #ED7D31; */
    background-color: #181818;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    /* width: 100%; */
    font-family: 'Segoe UI';
    width: 50%;
}
.create-btn {
    background-color: #181818; 
    color: #ff9e3d;
    border: 2px solid #ff9e3d;
    margin-left: 25%;
    margin-top: 0;
    
    /* text-decoration-color: #ED7D31; */
  }
  
  .create-btn:hover {
    background-color: #ff9e3d;   
    color: white;
}

input[type=text] {
    width: 100%;
    height: 7vh;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #181818;
    font-family: Calibri;
}   




.messages{
    overflow-y: auto;
    flex: 1;
    height: 500px;
    width: 1200px;
    color: #ffffff;
    
   /* display: none; */

    
    /* position: absolute; */
    /* margin-bottom: 40%; */
}

.messages::-webkit-scrollbar {
    width: 16px;
  }
  
  .messages::-webkit-scrollbar-track {
    background-color: #4d4d4e;
    border-radius: 100px;
  }
  
  .messages::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #fda776 0%, #fd9346 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
     border-radius: 100px;
  }

h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4d4d4e;

}

h4{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff9e3d;

}

h5{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 5%;
    
}

h2 {
    text-align: center;
    margin-top: -2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4d4d4e;
}

#message {
    flex: 1;
    /* color:#23a2f6; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.muted {
    font-size: 10px;
    color: darkgray;
}




/* .join-input {
    color:#ED7D31;
    border-style: none;
} */

